body {
    background: #e1e1e1;
    font-family: Arial, sans-serif;
}
.m66iv {
    background-color: #fff;
    border-radius: 10px;
    margin-bottom: 4%;
}

._1E4f2 {
    max-width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

._3oK77 {
    font-weight: normal;
    text-align: left;
    font-size: 18px;
    padding: 10px;
}

.mLyXA {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

._3qReZ {
    color: #666;
}

._1vSzN {
    display: block;
    margin: 0 auto;
}

._1JBep {
    height: 100%;
    display: grid;
    grid-template-columns: 49% 49%;
    justify-content: space-between;
}

._2spyK {
    border: 1px solid #666;
    background:#666;
    display: block;
    font-size: 18px;
    padding: 12px;
    cursor: pointer;
    border-radius: 3px;
    color: #fff;
    margin: 0 auto;
    transition: all 0.5s;
}

._1uYDq {
    display: block;
    border: 1px solid #d32828;
    background: #d32828;
    display: block;
    font-size: 18px;
    padding: 12px;
    cursor: pointer;
    border-radius: 3px;
    color: #fff;
    transition: all 0.5s;
    margin: 0 auto 2%;
}

._1uYDq:hover {
    background: #fff;
    border: 1px solid #d32828;
    color: #d32828;
    transition: all 0.5s;
}

._2spyK:hover {
    background: #fff;
    border: 1px solid grey;
    color: #666;
    transition: all 0.5s;
}

._3VyE3 {
    color: #666;
    font-size: 24px;
}

._1TDX2 {
    padding: 3%;
    border: 1px solid #d32828;
    border-radius: 10px;
    margin: 3% 0 4%;
    background-color:#fff;
    text-align: left;
}

._3LRdf {
    margin-bottom: 4%;
}

.fY2uX {
    margin-bottom: 5px;
    display: block;
}

._16A1I {
    margin-bottom: 5px;
    display: block;
}

._3_Ozr {
    width: 100%;
    border: 0;
    border-bottom: 1px solid #d32828;
    padding: 5px 0;
} 

.CklDI {
    width: 100%;
    border: 0;
    border-bottom: 1px solid #d32828;
    padding: 5px 0;
}

._1sXvv {
    display: block;
    border: 1px solid #d32828;
    background: #d32828;
    display: block;
    font-size: 18px;
    padding: 12px;
    cursor: pointer;
    border-radius: 3px;
    color: #fff;
    transition: all 0.5s;
    margin: 0 auto;
}

._1sXvv:hover {
    background: #e1e1e1;
    border: 1px solid #d32828;
    color: #d32828;
    transition: all 0.5s;
}